.app-sidebar__user-avatar {
    width: 80px;
    background: gray;
    padding: 2px;
}

.card-dash a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.headerRegister,
.header-primary,
.headerUpdate {
    background: #6610f2;
    color: #FFF;
}